# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
package.json

# Environment variables
config/.env
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build / Dist
dist/
build/
